#content {
  
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-left: 35%;
    
  }
  .contentInside {
    width: 200px;
    height: 200px;
    margin: 7px;
  
    border: 1px solid black;
    display: inline-flex;
  }
  div.ex1 {
   
     width: 400px;
    height: 300px;
   overflow-y: scroll;
    overflow-x:none;  
  }
  .custom {
    width: 100px !important;
    height: 100px;
    align-self: center;
    margin-left: 50px;

}  